/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// $accentColor = #3eaf7c
// $textColor = #2c3e50
// $borderColor = #eaecef
// $codeBgColor = #282c34

@import "./colour-vars"

:root{   
    // layout
    --navbarHeight: 3.6rem;
    --sidebarWidth: 20rem;
    --contentWidth: 740px;
    --homePageWidth: 960px;
    
    // responsive breakpoints
    --MQNarrow: 959px;
    --MQMobile: 719px;
    --MQMobileNarrow: 419px;

    //Colour Themes (to override)
    --lightAccentColour: #3eaf7c;
    --lightTextColour: #2c3e50;
    --lightBackgroundColour: $white;
    --lightBorderColour: #eaecef;

    --lightSidebarColour: $white;
    --lightNavbarColour: $white;
    
    --darkAccentColour: #3eaf7c;
    --darkTextColour: #dcddde;
    --darkBackgroundColour: #232b32;
    --darkBorderColour: #333;

    --darkSidebarColour: var(--darkBackgroundColour);
    --darkNavbarColour: var(--darkBackgroundColour);
    
    --codeBgColour: #282c34;
    
} //Non-dark theme
:root {
    --accentColour: var(--lightAccentColour);
    --textColour: var(--lightTextColour);
    --backgroundColour: var(--lightBackgroundColour);
    --borderColour: var(--lightBorderColour);
    --sidebarColour: var(--lightSidebarColour);
    --navbarColour: var(--lightNavbarColour);

    --shade: $white
    --shade-1: $grey-lighten-1
    --shade-2: $grey-lighten-2
    --shade-3: $grey-lighten-3
    --shade-4: $grey-lighten-4
    --shade-5: $grey-lighten-5

    --shade-i-1: $grey
    --shade-i-2: $grey-darken-1
    --shade-i-3: $grey-darken-2
    --shade-i-4: $grey-darken-3
    --shade-i-5: $grey-darken-4
}

:root.dark {
    --accentColour: var(--darkAccentColour);
    --textColour: var(--darkTextColour);
    --backgroundColour: var(--darkBackgroundColour);
    --borderColour: var(--darkBorderColour);
    --sidebarColour: var(--darkSidebarColour);
    --navbarColour: var(--darkNavbarColour);

    --shade: $black
    --shade-1: $grey
    --shade-2: $grey-darken-1
    --shade-3: $grey-darken-2
    --shade-4: $grey-darken-3
    --shade-5: $grey-darken-4

    --shade-i-1: $grey-lighten-1
    --shade-i-2: $grey-lighten-2
    --shade-i-3: $grey-lighten-3
    --shade-i-4: $grey-lighten-4
    --shade-i-5: $grey-lighten-5
}